body {
  background: #888;
}

.navbar-default {
  background: #081461;
  border-radius: 0;
  border: 0;
}

/*navbar fonts*/
.navbar a {
  font-size: 1.2em;
}

/*center align*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}

/*links in navbar and hover*/
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background: #e02d3e;
}


/*dropdown menu*/
.dropdown-menu {
  background: #081461;
}
.dropdown-menu li a {
  color: #fff;
}

/*hover over li*/
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #fff;
  background: #e02d3e;
}

/*control the brand image*/
.navbar-brand {
  padding: 0px;
  height: 110px;
}
.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar.navbar-default .nav >li >a {
  padding-top: 50px;
  padding-bottom: 35px;
}
.navbar.navbar-default .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/*carousel*/
#carousel1 {
  width: 100%;
  /*max-width: 400px;*/
}
.carousel .item {
  height: 350px;
}
.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/*custom well*/
.blue.well {
  background-color: #081461;
  border: 0;
}

.blue.well h2 {
  margin: 0 0 10px 0;
  color: #fff;
}

/*editing all anchors*/
a:hover {
  text-decoration: none;
}

/*no click*/
.no-click:hover,
.no-click:focus {
  cursor: not-allowed;
}


/*patch thumbnail*/
.thumbnail {
  background-color: transparent;
  padding: 0;
  border: 0;
}
.thumbnail > img {
  max-width: 150px;
}

/*underline text*/
.text-underline {
  text-decoration: underline;
}

/*footer*/

.footer {
  height: 100px;
  width: 100%;
}

/* custom floats*/
.float {
  margin: 5px;
}

.float.right {
  float: right;
}

.float.left {
  float: left;
}


/*listings on index page*/
.listings .col-md-3 {
  background-color: #e02d3e;
  border-width: 5px;
  border-color: #999;
  border-style: solid;
}
.listings h4 {
  color: #fff;
}

hr.people {
	border-top: 2px solid #fff;
	width: 100%;
}








/**/
/*History Page*/
/**/


.history h1 {
  color: #fff;
  font-size: 3em;
}

.history p {
  color: #fff;
  font-size: 1.5em;
}

.paragraphImage {
  float: right;
  margin: 5px;
}



/**/
/*contacts page*/
/**/

.contacts {
  color: #fff;
}
.contacts p {
  font-size: 1.2em;
}

/**/
/*Directors page*/
/**/
.directors h1 {
  color: #fff;
}
.directors .table td {
  color: #fff;
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
}



/**/
/*public events*/
/**/

.form-well {
  background: transparent;
  border: 3px solid #fff;
}
.form-well {
  color: #fff;
}
.public-events h1, .public-events h3 {
  color: #fff;
  margin: 0 0 15px 0;
}

@media (min-width: 992px) {
  .col-md-6 {
    border: 10px solid transparent;
  }
}


/**/
/*command page*/
/**/

.command h1,
.command h2,
.command p,
.command li {
  color: #fff;
}

.person p,
.person li {
  font-size: 1.2em;
}







/**/
